*,*:before,*:after {box-sizing: border-box;}
* {padding:0;marging:0}；
html,body {min-height: 100%;}
html { font-size: 10px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,em{margin:0;padding:0;font-family:Microsoft Yahei;}
body{text-align:center;font-size:100%;background: #efefef; color: #4c4c4c;font-size: 1.6rem; line-height: 2.2rem; }
table{text-align:center;margin:0px auto;border-collapse:collapse;border-spacing:0;}
table tr{}
table tr td{border : 1px #dededf solid;}
fieldset,img{border: 0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
input,button,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;font:100% Tahoma,Helvetica,Arial,sans-serif;}
input{padding-left:0px;}
blockquote, q {quotes: "" "";}
a{color:#333;text-decoration:none;}
a:hover, a:focus{text-decoration:none;}
.clear{clear:both;height:0px;overflow:hidden;}
::-webkit-scrollbar {
    width: 0px;
}
.banner .top_bg{ height:210px; width:100%; background: url("../img/bg.jpeg") no-repeat; background-size: 100% auto; }
.contain ul{ }
.contain ul li{ border-bottom: 1px solid #d1d1d1;}
.contain .body{ margin: 10px 10px; overflow:hidden;}
.contain .body .logo{width: 15%; float: left;}
.contain .body .logo img{ float: left; width: 100%;}

.contain .body .text{ float: left; width: 85%; text-align: left; padding-left: 10px;}
.contain .body .text .my-gallery{ overflow: hidden;}
.contain .body .text .my-gallery div{ width: 28%; overflow: hidden; float: left; margin-top: 5px;margin-right: 5px; }
.contain .body .text .my-gallery img{  }
.contain .body .text .title{ color: #576788; font-size: 1.8rem;}
.contain .body .text .txt{color: #323232; font-size: 1.5rem;}
.contain .body .text .tm{font-size: 1.4rem;    overflow: hidden;}
.contain .body .text .tm .fl{float: left;  padding-left: 5px;}
.contain .body .text .tm .fr{float: right; padding-right: 15px;}
.contain .body .text .cmt{ color: #444444; font-size: 1.5rem;    background-color: #eeeeee; margin-top: 5px; padding: 5px;}
.contain .body .text .cmt .fav{ color: #576788; border-bottom: 1px solid #d5d5d5; padding-bottom: 5px;}
.contain .body .text .cmt span{ color: #576788;}
figure{
 -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}